<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <nav>
        <div id="navbar">
            <ul>
                <li><a href="/home">Books</a></li>
                <li><a href="/newbooks">Add Book</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div id="main">
        <h1>Edit Book</h1>

        <form action="/books/<%= book._id %>?_method=PUT" method="POST">
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" value="<%= book.title %>" required>

            <label for="author">Author:</label>
            <input type="text" name="author" id="author" value="<%= book.author %>" required>

            <label for="genre">Genre:</label>
            <input type="text" name="genre" id="genre" value="<%= book.genre %>" required>

            <label for="copies">Number of Copies:</label>
            <input type="number" name="copies" id="copies" value="<%= book.copies %>" required>

            <button type="submit">Update Book</button>
        </form>

        
    </div>
    
</body>

</html>
